img {
  pointer-events: none;
}

@font-face {
  font-family: 'oswald_bold';

  src: url('/fonts/Oswald-Bold.ttf');
}

@font-face {
  font-family: 'oswald_regular';

  src: url('/fonts/Oswald-Regular.ttf');
}

@font-face {
  font-family: 'roboto_regular';
  src: url('/fonts/Roboto-Regular.ttf');
}

* {
  padding: 0;
  margin: 0;
  font-family: 'roboto_regular';
}

.avatar-shadow {
  width: 60vh;
  display: block;
  opacity: 0.6;
  overflow: hidden;
  z-index: 5;
  margin-right: 50px;
}

.nav-bar {
  border-bottom: 3px solid rgb(255, 255, 255);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

#footer-block {
  background: #f1f1f1;
  width: 100%;
}

.showreel-view {
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.showreel-hide {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.video-js .vjs-control-bar {
  display: none !important;
}

.menu-burger {
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 4;
  cursor: pointer;
  width: 6rem;
}

.menu-burger-in {
  display: block;
  opacity: 1;
  transition: opacity 0.25s ease;
}

.menu-burger-out {
  display: none;
  opacity: 0;
  transition: opacity 0.25s ease;
  pointer-events: none;
}

/* Animation */
.transition-overlay-begin {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #e15735;
  opacity: 1;
  pointer-events: unset;
  transform: translate(0%, 0%);
}

.transition-overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #e15735;
  opacity: 1;
  pointer-events: unset;
  transform: translate(0%, 100%);
}

.text-transition {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

#content-transition {
  transform: translateY(60px);
  opacity: 0;
}

.router-link-exact-active {
  font-family: 'oswald_regular' !important;
  color: #e15735 !important;
  pointer-events: none;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .before-header {
    padding-top: 10vw;
  }
}

@media (max-width: 768px) {
  .d-md-flex {
    display: flex !important;
  }

  .d-md-block {
    display: block !important;
  }

  .d-md-none {
    display: none !important;
  }
}
