.workspace {
  width: 100%;
  background-image: url('/images/Workspace.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.description-work {
  padding-top: 2rem;
}

.my-works {
  font-family: 'oswald_bold';
  margin: 0;
}

.works-header {
  display: inline-block;
}

#scroll-text p {
  font-size: 40px;
}

.works-header span {
  font-family: 'oswald_regular';
  cursor: pointer;
}

.workspace .container {
  padding-top: 15rem;
  padding-bottom: 10rem;
}

.gap-between {
  gap: 5rem;
}

.gap-between-container {
  gap: 2rem;
}

.border-line {
  border-bottom: 2px solid #fff;
}

.under-border #my-works-desc {
  padding-bottom: 3rem;
}

#my-works-collection {
  padding-top: 5rem;
}

#my-works-collection a {
  font-family: 'oswald_bold';
  text-decoration: none;
  color: #fff;
}

#my-works-collection p {
  color: #fff;
}

.work-block-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.flex-works-block {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.flex-block-parent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.desc-work-display {
  display: inline-block;
}

@media (max-width: 1399px) {
  .my-works {
    font-size: 120px !important;
  }
}

@media (max-width: 1279px) {
  .my-works {
    font-size: 70px !important;
  }
}
@media (max-width: 768px) {
  .my-works {
    font-size: 50px !important;
  }

  .gap-between-container {
    gap: unset;
  }
}

@media (max-width: 767px) {
  .workspace .container {
    padding: 8rem 2rem;
  }
  .select-projects {
    padding-top: 2rem;
    width: 100% !important;
  }

  .gap-between {
    gap: 2rem;
    justify-content: end;
  }

  .flex-block-parent {
    flex-direction: column !important;
    gap: 2rem !important;
  }

  .flex-works-block {
    gap: 2rem;
  }
}

@media (max-width: 575px) {
  .flex-works-reverse {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap-reverse;
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .desc-work-display {
    display: none;
  }
}
