.flex-embedded-reverse {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap-reverse;
}

.editing-style-title {
  padding-top: 1rem;
}

.fb-embedded-element {
  position: relative;
  padding-bottom: 177.8%;
  height: 0;
  margin: 0 !important;
}

.fb-embedded-element iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.editing-style {
  padding-top: 3rem;
}

@media (max-width: 575px) {
  .editing-style-first {
    padding-top: 0 !important;
  }
  .flex-content-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .flex-content-reverse .editing-style-title {
    padding-top: 0.5rem;
    font-weight: bold;
  }
  .flex-embedded-reverse {
    gap: 2rem;
  }
  .editing-style {
    padding-top: 2rem;
  }
}
