#showreel-container {
  opacity: 0;
  pointer-events: none;
  /* transition: opacity 1s ease; */
  position: sticky;
  z-index: 99;
}

.showreel-block {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
}

#showreel-video {
  height: 100%;
  width: 100%;
}

.close-video-btn {
  position: fixed;
  filter: invert(1);
  z-index: 6;
  right: 0;
  top: 0;
  margin: 1.5rem;
  cursor: pointer;
}

.close-video-btn img {
  width: 2.5rem;
  display: flex;
}

@media (max-width: 575px) {
  .close-video-btn img {
    width: 1.5rem;
  }
}
