/* Sidebar menu */
#sidebar-block {
  text-align: center;
  white-space: nowrap;
}

.sidebar-highlight-btn span::after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: #e15735;
  transition: 300ms;
}

.sidebar-highlight-btn span:hover::after {
  width: 100%;
}

.sidebar-highlight-btn span:hover {
  color: #e15735 !important;
  opacity: 100%;
  transition:
    color 0.3s ease,
    opacity 0.3s ease;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  background-color: #d9d9d9;
  overflow: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.sidenav a {
  text-decoration: none;
}

.sidenav span {
  padding: 8px;
  color: #000000;
  transition: 0.3s;
  font-family: 'oswald_regular';
  text-align: center;
  display: inline-block;
}

.sidenav .contact-me {
  padding: 8px;
  color: #000000;
  font-family: 'oswald_regular';
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  flex-direction: column;
}

.sidenav .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 30px;
  font-size: 36px;
  color: #000000;
  cursor: pointer;
}

.sidenav .close-btn:hover {
  color: #e15735;
  transition: color 0.3s ease-in-out;
}

.router-link-exact-active span {
  color: #e15735 !important;
}

.display-sidebar {
  display: flex;
}

@media (max-width: 768px) {
  .display-sidebar {
    display: none !important;
  }
}
